<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%= data[0].name %>
  <%= data[0].age %>


  <%= data[4].name %>
  <%= data[4].age %>


  <%= data[7].name %>
  <%= data[7].age %>
</body>
</html>